{% extends "layout.admin.html.twig" %}

{% block keywords %}homepage, home, article, scientist, research{% endblock %}

{% block meta_tags %}<meta name="robots" content="noindex">{% endblock %}

{% block title %}{{ website.title }} - Administration{% endblock %}

{% block page_title %}
    <!-- Header of the webpage. -->
    <header class="scims-page-header col-md-12 col-sm-12 col-xs-12">
        <h1 class="scims-page-title">
            {{ website.title }} : {{ website.subtitle }}
            <small class="scims-italic scims-header-page-subtitle">{{ website.websiteAuthors }}</small>
        </h1>
    </header>
{% endblock %}

{% block content %}
    <!-- All articles available -->
    <section class="col-md-8 col-sm-8 col-xs-8">
        <aside class="col-md-4 col-sm-4 col-xs-4 scims-article-homepage">
            <h2>Articles</h2>
            <p>
                You can write, edit or remove on article thanks to the following link :
                <a href="/web/index.php?action=admin_article&user={{ user.id }}" >All articles</a>
            </p>
        </aside>

        {% if user.role == 0 %}
            <aside class="col-md-4 col-sm-4 col-xs-4 scims-article-homepage">
                <h2>Categories</h2>
                <p>
                    You can xreate, update or delete categories thanks to the following link :
                    <a href="/web/index.php?action=admin_category&user={{ user.id }}" >All categories</a>
                </p>
            </aside>

            <aside class="col-md-4 col-sm-4 col-xs-4 scims-article-homepage">
                <h2>Users</h2>
                <p>
                    You can edit or delete user thanks to the following link :
                    <a href="/web/index.php?action=admin_user&user={{ user.id }}" >All users subscribed</a>
                </p>
            </aside>
        {% endif %}
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
{% endblock %}
