<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="{{ website.websiteAuthors }}">
    <meta name="copyright" content="{{ website.websiteAuthors }}">
    <meta name="keywords" content="{{ website.title }}, {% block keywords %}{% endblock %}">
    <meta name="generator" content="SciMS">
    {% block meta_tags %}{% endblock %}

    <link rel="icon" href="../../web/favicon.ico">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="{{ theme.link }}" rel="stylesheet" integrity="{{ theme.integrity }}" crossorigin="anonymous"> <!-- Theme Stylesheet -->

    <link rel="stylesheet" type="text/css" href="../web/css/style.css"> <!-- Personnal Stylesheet -->

    {% block stylesheets %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<section id="scims-article-body" class="container">
    <div class="row">
        {% block page_title %}{% endblock %}
        <!-- Navigation -->
        <div class="col-md-3 col-sm-3 col-xs-3">
            <aside id="scims-summary" class="scims-anchor-link">
                <nav class="navbar">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div id="scims-left-navigation" class="list-group">
                            <a class="list-group-item scims-brand"    href="/web/index.php?user={{ user.id }}"> Home</a>
                            <a class="list-group-item scims-article"  href="/web/index.php?action=admin_article&user={{ user.id }}"> Articles</a>
                            {% if user.role == 0 %}
                                <a class="list-group-item scims-category" href="/web/index.php?action=admin_category&user={{ user.id }}"> Category</a>
                                <a class="list-group-item scims-user"     href="/web/index.php?action=admin_user&user={{ user.id }}"> Users</a>
                            {% endif %}
                            <a class="list-group-item scims-signout"  href="/web/index.php?action=verification&form=disconnection"> Sign Out</a>

                            <!-- Search field -->
                            <form class="form-inline" method="post" action="/web/index.php?action=search&user={{ user.id }}">
                                <div class="form-group">
                                    <label class="sr-only" for="search-field"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                        <input type="text" class="form-control" id="search-field" name="search-field" placeholder="Search article ...">
                                    </div>
                                </div>
                           </form>
                        </div>
                    </div>
                </nav>
            </aside>
            
            <aside id="scims-summary" class="scims-anchor-link">
                <nav class="navbar">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div id="scims-left-navigation" class="list-group">
                            <h3 class="list-group-item">Categories Available</h3>
                            {% if connect == true %}
                                {% if categories|length == 0 %}
                                    <p class="list-group-item">No category currently available</p>
                                {% else %}
                                    {% for category in categories %}
                                        <a class="list-group-item scims-{{ category.title|lower }}" href="/web/index.php?action=consult_article_category&id={{ category.id }}&user={{ user.id }}"> {{ category.title }}</a>
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                {% if categories|length == 0 %}
                                    <p class="list-group-item">No category currently available</p>
                                {% else %}
                                    {% for category in categories %}
                                        <a class="list-group-item scims-{{ category.title|lower }}" href="/web/index.php?action=consult_article_category&id={{ category.id }}"> {{ category.title }}</a>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>
                </nav>
            </aside>
        </div>

        <!-- Body of webpage -->
        <div id="scims-body-page" class="row">
            {% block content %}{% endblock %}
        </div>

        <!-- Loading script section -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> <!-- jquery    -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> <!-- bootstrap -->
        {% block javascripts %}{% endblock %}
    </div>
</section>

<!-- Footer of the webpage. -->
<div class="container">
    <div class="row">
        <footer class="scims-footer-page col-md-12 col-sm-12 col-xs-12">
            <p class="scims-italic scims-header-page-subtitle">{% autoescape false %}{{ website.copyright }}{% endautoescape %}</p>
        </footer>
    </div>
</div>
</body>
</html>
