{% extends "layout.admin.html.twig" %}

{% block keywords %}homepage, home, article, scientist, research{% endblock %}

{% block meta_tags %}<meta name="robots" content="noindex">{% endblock %}

{% block title %}{{ website.title }} - Users{% endblock %}

{% block page_title %}
    <!-- Header of the webpage. -->
    <header class="scims-page-header col-md-12 col-sm-12 col-xs-12">
        <h1 class="scims-page-title">
            {{ website.title }} : {{ website.subtitle }}
            <small class="scims-italic scims-header-page-subtitle">{{ website.websiteAuthors }}</small>
        </h1>
    </header>
{% endblock %}

{% block content %}
    <!-- All categories available -->
    <section class="col-md-8 col-sm-8 col-xs-8">
        <h2>Users subscribe</h2>
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <td class="text-center">Username</td>
                <td class="text-center">First Name</td>
                <td class="text-center">Last Name</td>
                <td class="text-center">Update</td>
                <td class="text-center">Delete</td>
            </tr>
            </thead>

            <tbody>
            {% for u in users %}
                <tr>
                    <td>{{ u.username }}</td>
                    <td>{{ u.fName }}</td>
                    <td>{{ u.lName }}</td>
                    <td class="text-center align-middle"><a href="/web/index.php?action=edit_profile&user={{ user.id }}&user_update={{ u.id }}" class="scims-edit-user-btn" role="button">Edit</a></td>
                    {% if u.id == user.id %}
                        <td class="text-center align-middle"></td>
                    {% else %}
                        <td class="text-center align-middle"><a href="/web/index.php?action=verification&form=delete_user&user={{ user.id }}&user_delete={{ u.id }}" class="scims-delete-user-btn" role="button">Delete</a></td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
{% endblock %}
