{% extends "layout.html.twig" %}

{% block title %}SciMS - {{ article.title }}{% endblock %}

{% block page_title %}
    <!-- Header of the webpage. -->
    <header class="scims-page-header col-md-12 col-sm-12 col-xs-12">
        <h1 class="scims-page-title">
            {{ website.title }} : {{ article.title }}
            <small class="scims-italic scims-header-page-subtitle">{% autoescape false %}{{ article.authors }}{% endautoescape %}</small>
        </h1>
    </header>
{% endblock %}

{% block content %}
    <section class="col-md-8 col-sm-8 col-xs-8">
        {% autoescape false %}
            {{ article.content }}
        {% endautoescape %}

        <!-- Categories -->
        <section>
            <ul class="list-unstyled list-inline scims-excerpt-categories">
                <li>{{ article.categories.title }}</li>
            </ul>

            <!-- Tags -->
            <ul class="list-unstyled list-inline scims-excerpt-tags">
                {# Split article.tags into an array to display it like a unstyled list. #}
                {% set tags = article.tags|split(',')  %}
                {% for tag in tags %}
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </section>

        {% if connect == true and user.id == author_id %}
            <!-- User = writter, button update available. -->
            <a href="/web/index.php?action=edit&user={{ user.id }}&article={{ article.id }}" class="btn btn-link scims-edit-article-btn" role="button">Edit Article</a>
        {% endif %}

    </section>
{% endblock %}