{% extends "layout.html.twig" %}

{% block keywords %}{{ article.title }}, {{ article.categories.title }}, {{ article.writter.username }}, article research, articles, research{% endblock %}

{% block title %}{{ website.title }} - {{ article.title }}{% endblock %}

{% block page_title %}
    <!-- Header of the webpage. -->
    <header class="scims-page-header col-md-12 col-sm-12 col-xs-12">
        <h1 class="scims-page-title">
            {{ website.title }} : {{ article.title }}
            <small class="scims-italic scims-header-page-subtitle">{% autoescape false %}{{ article.authors }}{% endautoescape %}</small>
        </h1>
    </header>
{% endblock %}

{% block content %}
    <section class="col-md-8 col-sm-8 col-xs-8">

        {# Show summary if is activate on article #}
        {% if article.displayedSummary == 1 %}
            <nav id="summary" class="container-table-of-content">
                <h4>Table of Content [<span href="#" id="toggle-toc">hide</span>]</h4>
                <ul id="list-summary" class="scims-table-of-content">

                </ul>
            </nav>
        {% endif %}

        <h2>Abstract</h2>
        {% autoescape false %}
            {{ article.abstract }}
            {{ article.content }}
        {% endautoescape %}

        <!-- Categories -->
        <section>
            <ul class="list-unstyled list-inline scims-excerpt-categories">
                <li>{{ article.categories.title }}</li>
            </ul>

            <!-- Tags -->
            <ul class="list-unstyled list-inline scims-excerpt-tags">
                {# Split article.tags into an array to display it like a unstyled list. #}
                {% set tags = article.tags|split(',')  %}
                {% for tag in tags %}
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>

            <p>Article written by
                {% if connect == true %}
                    <a href="/web/index.php?action=consult_profile&id={{ article.writter.id }}&user={{ user.id }}">{{ article.writter.username }}</a>,
                {% else %}
                    <a href="/web/index.php?action=consult_profile&id={{ article.writter.id }}">{{ article.writter.username }}</a>,
                {% endif %}
                {{ article.dateCreation|date("d/m/y \\a\\t H:i:s") }}
            </p>
        </section>

        {# Display edit button only if the user is a writter of this article. #}
        {% if connect == true and user.id == author_id %}
            <p>
                <a href="/web/index.php?action=edit_article&user={{ user.id }}&article={{ article.id }}" class="btn btn-link scims-edit-article-btn" role="button">Edit Article</a>
            </p>
        {% endif %}

        {% if article.displayedSummary == 1 %}
            {% block javascripts %}
                <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
                <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
                <script type="text/javascript" src="../web/js/table_of_content.js"></script>
            {% endblock %}
        {% else %}
            <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
            <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
        {% endif %}
    </section>
{% endblock %}
