{% extends "layout.html.twig" %}

{% block keywords %}{{ writter.username }}, user profile, writter, article writter{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css">
{% endblock %}

{% block title %}{{ website.title }} - {{ writter.username }}'s Profile{% endblock %}

{% block page_title %}
    <!-- Header of the webpage. -->
    <header class="scims-page-header col-md-12 col-sm-12 col-xs-12">
        <h1 class="scims-page-title">
            {{ website.title }} : {{ writter.username }}'s Profile
            <small class="scims-italic scims-header-page-subtitle">Consult {{ writter.username }}'s Profile</small>
        </h1>
    </header>
{% endblock %}

{% block content %}
    <section class="col-md-8 col-sm-8 col-xs-8">
        <h2>{{ writter.username }}'s profile</h2>

        <!-- Avatar -->
        <div class="form-group">
            {% if writter.avatar == '' %}
                <img class="scims-avatar" src="../../web/images/default-avatar.png" alt="default avatar" width="128" height="128">
            {% else %}
                <img class="scims-avatar" src="../../web/uploads/avatar/{{ writter.avatar }}" alt="{{ writter.username }}'s avatar">
            {% endif %}
        </div>

        <fieldset>
            <legend>Informations about {{ writter.username }}</legend>
            <ul class="list-unstyled">
                <li>Username : {{ writter.username }}</li>
                <li>First name : {{ writter.fName }}</li>
                <li>Last name : {{ writter.lName }}</li>
                <li>Birthday : {{ writter.birthday|date("d/m/y") }}</li>
            </ul>

            <h3>Biography : </h3>
            {% if writter.biography == '' %}
                <p>No biography written by the user.</p>
            {% else %}
                {% autoescape false %}{{ writter.biography }}{% endautoescape %}
            {% endif %}
        </fieldset>

        <fieldset>
            <legend>Articles written by {{ writter.username }}</legend>
            <ul class="list-unstyled">
                {% if articles|length == 0 %}
                    <li>{{ writter.username }} currently not write articles.</li>
                {% else %}
                    {% for article in articles %}
                        <li><a href="/web/index.php?action=consult_article&id={{ article.id }}" >{{ article.title }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </fieldset>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-css-extras.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-c.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-cpp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-csharp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-java.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-php-extras.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-markup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-php.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-ruby.min.js"></script>
{% endblock %}
