<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="../web/lib/bootstrap/css/bootstrap.min.css"> <!-- Bootstrap.min -->
        <link rel="stylesheet" type="text/css" href="../web/lib/font-awesome/css/font-awesome.min.css"> <!-- Font Awesome -->
        <link rel="stylesheet" type="text/css" href="../web/css/style.css"> <!-- Personnal Stylesheet -->
        {% block stylesheets %}{% endblock %}

        <title>{% block title %}SciMS - {% endblock %}</title>
    </head>

    <body>
        <section id="scims-article-body" class="container">
            <div class="row">
                {% block page_title %}{% endblock %}
                <!-- Navigation -->
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <aside id="scims-summary" class="scims-anchor-link">
                        <nav class="navbar">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div id="scims-left-navigation" class="list-group">
                                    {% if connect == true %}
                                        <a class="list-group-item scims-brand"     href="/web/index.php?user={{ user.id }}"> Home</a>
                                        <a class="list-group-item scims-connexion" href="/web/index.php?action=account&user={{ user.id }}"> {{ user.username }} Profil</a>
                                        <a class="list-group-item scims-connexion" href="/web/index.php?action=write&user={{ user.id }}"> Write an Article</a>
                                        <a class="list-group-item scims-connexion" href="/web/index.php?action=disconnection&user={{ user.id }}"> Sign Out</a>
                                    {% else %}
                                        <a class="list-group-item scims-brand"     href="/web/index.php"> Home</a>
                                        <a class="list-group-item scims-connexion" href="/web/index.php?action=connection"> Sign In</a>
                                        <a class="list-group-item scims-connexion" href="/web/index.php?action=inscription"> Inscription</a>
                                    {% endif %}
                                </div>
                            </div>
                        </nav>
                    </aside>
                </div>

                <!-- Body of webpage -->
                <div class="row">
                    {% block content %}{% endblock %}
                </div>

                <!-- Loading script section -->
                <script src="../web/lib/jquery/jquery-3.1.1.min.js"></script>    <!-- jquery    -->
                <script src="../web/lib/bootstrap/js/bootstrap.min.js"></script> <!-- bootstrap -->
                {% block javascripts %}{% endblock %}
            </div>
        </section>

        <!-- Footer of the webpage. -->
        <div class="row">
            <footer class="col-md-12 col-sm-12 col-xs-12">
                <p class="scims-italic scims-header-page-subtitle">Nicolas GILLE, Grégoire POMMIER, &copy; 2016, SciMS : Simplify the writting of Your research articles.</p>
            </footer>
        </div>
    </body>
</html>