{% extends "layout.html.twig" %}

{% block keywords %}result, research, article results{% endblock %}

{% block title %}{{ website.title }} - Results{% endblock %}

{% block page_title %}
    <!-- Header of the webpage. -->
    <header class="scims-page-header col-md-12 col-sm-12 col-xs-12">
        <h1 class="scims-page-title">
            {{ website.title }} : Results
            <small class="scims-italic scims-header-page-subtitle">{{ website.websiteAuthors }}</small>
        </h1>
    </header>
{% endblock %}

{% block content %}
    <!-- Last X Article -->
    <section class="col-md-8 col-sm-8 col-xs-8">
        <h2>Research result</h2>

       <div class="container">
           <div class="row">
               <div class="col-md-8 col-sm-8 col-xs-8">
                   {% if articles|length == 0 %}
                       <p>{{ article_not_found.message }}</p>
                   {% else %}
                       <p>List of articles found in {{ website.title }}.</p>
                       {% for article in articles %}
                           <aside class="col-md-4 col-sm-4 col-xs-4 scims-article-homepage">
                               <h3>{{ article.title }}</h3>
                               <p>{% autoescape false %}{{ article.abstract|truncate(website.abstract, true) }}{% endautoescape %}</p>
                               <p>
                                   {% if connect == true %}
                                       <a href="/web/index.php?action=consult_article&id={{ article.id }}&user={{ user.id }}" ><button role="link" class="scims-button-text-color btn btn-primary btn-sm" value="Read more ...">Read more ...</button></a>
                                   {% else %}
                                       <a href="/web/index.php?action=consult_article&id={{ article.id }}" ><button role="link" class="scims-button-text-color btn btn-primary btn-sm" value="Read more ...">Read more ...</button></a>
                                   {% endif %}
                               </p>
                           </aside>
                       {% endfor %}
                   {% endif %}
               </div>
           </div>
       </div>

       <div class="container">
           <div class="row">
               <div class="col-md-8 col-sm-8 col-xs-8">
                   {% if users|length == 0 %}
                       <p>{{ user_not_found.message }}</p>
                   {% else %}
                       <p>List of user found in {{ website.title }}.</p>
                       {% for u in users %}
                           <aside class="col-md-4 col-sm-4 col-xs-4 scims-article-homepage">
                               {% if connect == true %}
                                   <a href="/web/index.php?action=consult_profile&id={{ u.id }}&user={{ user.id }}"><h3>{{ u.username }}</h3></a>
                               {% else %}
                                   <a href="/web/index.php?action=consult_profile&id={{ u.id }}"><h3>{{ u.username }}</h3></a>
                               {% endif %}
                               <p>
                                   {% if u.avatar == '' %}
                                       <img class="scims-avatar-search" src="../../web/images/default-avatar.png" alt="default avatar" width="64" height="64">
                                   {% else %}
                                       <img class="scims-avatar-search" src="../../web/uploads/avatar/{{ u.avatar }}" alt="{{ u.username }}'s avatar" width="64" height="64">
                                   {% endif %}

                                   {% if u.biography == '' %}
                                        No biography written by the user.
                                   {% else %}
                                       {% autoescape false %}{{ u.biography|truncate(website.abstract, true) }}{% endautoescape %}
                                   {% endif %}
                               </p>
                           </aside>
                       {% endfor %}
                   {% endif %}
               </div>
           </div>
       </div>



    </section>
{% endblock %}
